# This is a basic workflow to help you get started with Actions

name: test

on:
  push:
    branches: [ "main" ]
  
  
  
jobs:
  
  build:
    
    runs-on: ubuntu-latest
    steps:
      - run: echo test test test
      - run: npm install sfdx-cli -g
      - run: sfdx --version
